.vagrant
.idea
.mono
.vscode
coverage.json
.npmignore
package.zip

.DS_Store
bin/
obj/
*.suo
*.user
*.orig
*.retry
*.userprefs
/.vs/*
node_modules/
!.github/actions/**/node_modules/
.serverless
/serverless
**/lambda-deployment-package/**
/Packaging
TestResults
packages/
mongo_data
TestResult.xml
activate_tools.sh
.bin
